/* ANIMATIONS */
* {
	--animation-slideUP-marginTop-from: 0px;
	--animation-slideUP-marginTop-to: -10px;

	--animation-slideUP-marginBottom-from: 20px;
	--animation-slideUP-marginBottom-to: 38px;
}

.fadeIn_FULL {
	animation-name: fade_IN_FULL;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
.fadeOut_FULL {
	animation-name: fade_OUT_FULL;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.fadeIn_HALF {
	animation-name: fade_IN_HALF;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
.fadeOut_HALF {
	animation-name: fade_OUT_HALF;
	animation-duration: 200ms;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

/* FROM fully-invisible TO fully-visible  */
@keyframes fade_IN_FULL {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fade_OUT_FULL {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* FROM fully-invisible TO half-visible */
@keyframes fade_IN_HALF {
	0% {
		opacity: 0%;
	}
	100% {
		opacity: 50%;
	}
}
@keyframes fade_OUT_HALF {
	0% {
		opacity: 50%;
	}
	100% {
		opacity: 0%;
	}
}

@keyframes slide_DOWN {
	0% {
		margin-top: var(--animation-slideUP-marginTop-to);
		margin-bottom: var(--animation-slideUP-marginBottom-to);
	}

	100% {
		margin-top: var(--animation-slideUP-marginTop-from);
		margin-bottom: var(--animation-slideUP-marginBottom-from);
	}
}
@keyframes slide_UP {
	0% {
		margin-top: var(--animation-slideUP-marginTop-from);
		margin-bottom: var(--animation-slideUP-marginBottom-from);
	}

	100% {
		margin-top: var(--animation-slideUP-marginTop-to);
		margin-bottom: var(--animation-slideUP-marginBottom-to);
	}
}
