/* MEDIA QUERIES */

/* mobile S VW  */
@media (min-width: 320px) {
    .projectCards_container_all {
        grid-template-columns: auto;
    }
    .contactMe-form{
        width: 90%;
    }
}

/* mobile M VW  */
@media (min-width: 375px) {
}

/* mobile L VW  */
@media (min-width: 425px) {
}


/* tablet VW  */
@media (min-width: 768px) {
    .projectCards_container_all {
        grid-template-columns: auto auto;
    }
}

/* laptop VW  */
@media (min-width: 1024px) {
}

/* laptop L VW  */
@media (min-width: 1440px) {
}

@media screen and (max-width: 1300px) { .grid { grid-template-columns: 33% 33% 33%; } }
@media screen and (max-width: 900px) { .grid { grid-template-columns: 50% 50%; }}
@media screen and (max-width: 860px) {
    header {
        justify-content: space-around;
    }
    header h1 {
        margin-left: 0px;
    }
    header nav {
        margin-right: 0px;
    }
}
@media screen and (max-width: 575px) {
    header {
        justify-content: center;
        align-items: center;
    }
    #contact-nav {
        padding-bottom: 20px;
    }
}

/* Header text break */
@media screen and (max-width: 726px) {
    header{
        display: grid;
        grid-template-rows: auto auto;
        height: 120px;
    }
    .navLinks-unordered-list{
        margin-right: 0px;
    }
    
}
@media (min-width: 510px) {
    .contactMe-form {
        width: 450px;
    }

}